body {
    background: #f0f4f8; /* Cor de fundo da página */
}
#welcome {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 9999;
    background: #1976d2;
    color: #fff;
}
#welcome.hide {
    display: none;
}

form {
    background: #fff;    /* Fundo branco para os formulários */
    border: 1px solid #1976d2; /* Borda azul */
}
button {
    background: #1976d2; /* Botão azul */
    color: #fff;         /* Texto branco */
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background 0.3s;
}
button:hover {
    background: #1565c0; /* Azul mais escuro ao passar o mouse */
}
.link {
    color: #1976d2;      /* Links azuis */
}
